*{
    padding: 0;
    margin: 0;
}
nav {
display: flex;
justify-content: space-between;
align-items: center;
background-color:rgb(0, 107, 107);
padding: 5px;
}

nav:hover{
color: blue;
}
.navbar-left {
display: flex;
align-items: center;
}

.navbar-logo {
padding: 20px;
background-color: #fff;
color: #fff;
border-radius: 10px 0 0 50px;
margin-left: 20px;
}

.navbar-logo-round {
background-color: #fff;
color: black;
width: 100px;
height: 10px;
border-radius: 10%;
display: flex;
justify-content: center;
align-items: center;
}

.navbar-right ul {
display: flex;
align-items: center;
list-style: none;
margin: 0;
padding: 0;
}

.navbar-right ul li {
margin-left: 20px;
}

.navbar-right ul li a {
text-decoration: none;
color: white;
font-weight: bold;
}

.main{
width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(202, 116, 17, 0.75)),url(2.jpg);
    background-size: cover;
    background-position: center; 
}

.bodymain{
    width: 100%;
    position: absolute;
    top: 25%;
    transform: translateY(-20%);
    text-align: center;
    color: #fff;
}

.bodymain2{
    width: 100%;
    position: absolute;
    top: 100%;
    transform: translateY(-20%);
    text-align: center;
    color: #fff;
}

.bodymain3{


    
    width: 100%;
    position: absolute;
    top: 175%;
    transform: translateY(-20%);
    text-align: center;
    color: #fff; 
        
}




.bodymain h3{
    font-size: 40px;
    margin-top: 80px;
}

.bodymain p{
    margin: 20px auto;
    width: 50;
    font-weight: 100;
    line-height: 25px;
}


button{
    background-color: #007bff;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid darkgray;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

/* FOOTER CODE */
footer {
background-color: #f2f2f2;
padding: 30px 0;
}
.footer-bottom {
background-color: #007bff;
color: #fff;
padding: 10px;
text-align: center;
}
/* FOOTER END CODE */


/* code for card layout */
.card-row {
display: flex;
}

.card {
width: 30%;
height: 90%;
margin: 10px;
border: 1px solid #ccc;

box-sizing: border-box;
text-align: center;
background: white;
}

.card img {
width: 100%;
height: 50%;
/* margin-bottom: px; */
}

.card h2 {
font-size: 1.2rem;
margin-bottom: 5px;
}

.card p {
font-size: 1rem;
line-height: 1.5;
margin-bottom: 0;
}
/* End card layout */

/* button code*/
.button {
    
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 18px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .button:hover {
    background-color: darkblue;
  }
  /*Button end  */
 
  